<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	<title>{% block title %}XV du Home {% endblock %}</title>
	
	{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/starter-template.css') }}" type="text/css" />
    {% endblock %}
	
	<link href="css/starter-template.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <ul class="nav navbar-nav navbar-static-top">
		<li style="margin: 5px 30px 5px 30px;"> <img src="img/logo.png" height="40px"> </li>
		<li class="active"> <a href="#">Accueil</a> </li>
		<li class="dropdown">
			<a data-toggle="dropdown" href="#">Informations<b class="caret"></b></a> 
			<ul class="dropdown-menu">
				<li><a href="#">L'équipe</a></li>
				<li><a href="#">Les joueurs</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a data-toggle="dropdown" href="#">Les matchs<b class="caret"></b></a> 
			<ul class="dropdown-menu">
				<li><a href="#">Calendrier / résultats</a></li>
				<li><a href="#">Résumés</a></li>
			</ul>
		</li>
		<li> <a href="#">Partenaires</a> </li>
		<li> <a href="#">Photos</a> </li>
		<li class="hidden-lg"> <a href="#">Connexion</a> </li>
	  </ul>
	  
	  <form class="navbar-form pull-right visible-lg">
			<input id="identifiant" name="identifiant" type="text" placeholder="Identifiant" class="input-sm form-control" required="">
			<input id="mdp" name="mdp" type="password" placeholder="Mot de passe" class="input-sm form-control" required="">
			<button id="connexion" name="connexion" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> Connexion</button>
		</form>

	</nav>
	
	<div class="container">
      <div class="row">
        <div id="content" class="col-lg-9">
          {% block body %}
          {% endblock %}
        </div>
		<div id="menu" class="col-lg-3">
          <h3>Les résumés</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('xv_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('xv_ajouter') }}">Ajouter un résumé</a></li>
          </ul>
                    
          {{ render(controller("XvBundle:Xv:menu", {'nombre': 3})) }}
        </div>
      </div>
    </div>

	  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2014 - XV du Home
      </p>
      
      <a href="mentions-legales.php" class="navbar-btn btn btn-primary btn-sm pull-right">
      <span class="glyphicon glyphicon-star"></span>  Mentions Légales</a>
    </div>   
  </div>
  
    {% block javascripts %}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	{% endblock %}
  </body>
</html>