{% extends "XvBundle::layout.html.twig" %}

{% block title %}
  Ajouter un résumé - {{ parent() }}
{% endblock %}

{% block xv_body %}

  <h2>Ajouter un résumé</h2>

  {% include "XvBundle:Xv:formulaire.html.twig" %}

  <p>
    <a href="{{ path('xv_homepage') }}" class="btn btn-primary">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Retour à la liste
    </a>
  </p>

{% endblock %}