<div class="row well">
	<form method="post" class="form-horizontal">
	<fieldset>
	
	{% for zou in form %}
		<div class="form-group">
			{% if zou.vars.block_prefixes.1 != 'hidden' %}
				{{ form_label(zou,null,{ 'label_attr' : { 'class' : 'col-md-3 control-label' }} ) }}
				{{ form_errors(zou,{ 'attr' : { 'class' : 'col-md-7 control-label' }}) }}
			{% endif %}
			{% if zou.day is defined %}
				<div class="col-md-7">
					<div class="row">
						<div class="col-lg-4">{{ form_widget(zou.day,{ 'attr' : { 'class' : 'form-control input-md' }}) }}</div>
						<div class="col-lg-4">{{ form_widget(zou.month,{ 'attr' : { 'class' : 'form-control input-md' }}) }}</div>
						<div class="col-lg-4">{{ form_widget(zou.year,{ 'attr' : { 'class' : 'form-control input-md' }}) }}</div>
					</div>
				</div>
			{% elseif zou.vars.block_prefixes.1 == 'checkbox' %}
				<div class="col-md-7">
					{{ form_widget(zou) }}
				</div>
			{% elseif zou.vars.block_prefixes.2 == 'textarea' %}
				<div class="col-md-7">
					{{ form_widget(zou,{ 'attr' : { 'class' : 'form-control input-md', 'style' : 'min-height:200px' }}) }}
				</div>
			{% elseif zou.vars.block_prefixes.1 == 'text' %}
				<div class="col-md-7">
					{{ form_widget(zou,{ 'attr' : { 'class' : 'form-control input-md' }}) }}
				</div>
			{% elseif zou.vars.block_prefixes.1 == 'collection' %} 
				{#% for plapp in zou.vars.prototype %}
					{% if loop.index != 1%}
						<div class="col-md-3"></div>
					{% endif %}
					<div class="col-md-7">
						<div class="input-group">
							{{ form_label(plapp,null,{ 'label_attr' : { 'class' : 'input-group-addon', 'style' : 'min-width:50px' }} ) }}
							{{ form_widget(plapp,{ 'attr' : { 'class' : 'form-control input-md' }}) }}
						</div>
					</div>
				{% endfor %#}
				<div class="col-md-3"></div>
				<div class="col-md-7">
					{{form_widget(zou)}}
				</div>
			{% elseif zou.vars.block_prefixes.2 == 'entity' %}
				{{form_widget(zou)}}
			{% else %}
				{% for plapp in zou%}
					{% if loop.index != 1%}
						<div class="col-md-3"></div>
					{% endif %}
					<div class="col-md-7">
						<div class="input-group">
							{{ form_label(plapp,null,{ 'label_attr' : { 'class' : 'input-group-addon', 'style' : 'min-width:50px' }} ) }}
							{{ form_widget(plapp,{ 'attr' : { 'class' : 'form-control input-md' }}) }}
						</div>
					</div>
				{% endfor %}
				
			{% endif %}
		</div>	
	{% endfor %}
	
	<div class="form-group">
		<div class="col-md-3 control-label"></div>
		<div class="col-md-7">
			<input type="submit" class="btn btn-block btn-primary" />
		</div>
	</div>
	
	</fieldset>
	</form>
</div>

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var $container = $('div#xvduhome_xvbundle_resume_categories');

  var $lienAjout = $('<a href="#" id="ajout_categorie" class="btn">Ajouter une catégorie</a>');
  $container.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    ajouterCategorie($container);
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterCategorie($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterCategorie($container) {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $($container.attr('data-prototype')
														.replace(/<label class=\"required\">__name__label__<\/label>/g, '')
                                                        .replace(/__name__/g, index)
                                                        .replace(/<label /g, '<div class="input-group"><label class="input-group-addon required" ')
														.replace(/<input /g,'<input class="form-control input-md"'));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }
});
</script>