{% extends "XvBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block xv_body %}
    {% for article in articles %}
		{% include "XvBundle:Xv:resume.html.twig" with {"accueil" : true} %}
    {% else %}
      <p>Pas (encore !) d'articles</p>
    {% endfor %}
  
  <div>
    <ul  class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% if page>1 %} 
			<li><a href="{{ path('xv_homepage', {'page': page - 1}) }}">&laquo;</a></li> 
		{% endif %}
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('xv_homepage', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
		<li><a href="{{ path('xv_homepage', {'page': page + 1}) }}">&raquo;</a></li>
    </ul>
  </div>

{% endblock %}