<h3>Les derniers matchs</h3>

<ul class="nav nav-pills nav-stacked">
  {% for article in liste_articles%}
		<li><a href="{{ path('xv_voir', {'id': article.id}) }}">{{ article.titre }}</a></li>
  {% endfor %}
</ul>