{% extends "XvBundle::layout.html.twig" %}

{% block title %}
  Modifier un résumé - {{ parent() }}
{% endblock %}

{% block xv_body %}

  <h2>Modifier un résumé</h2>

  {% include "XvBundle:Xv:formulaire.html.twig" %}
  
  <br /><br />
  
  <h1>Apperçu</h1>

  <hr>

	{% include "XvBundle:Xv:resume.html.twig"  with {"appercu" : true,"article" : resume}  %}

  <p>
    <a href="{{ path('xv_voir', {'id': resume.id}) }}" class="btn btn-primary">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Retour au résumé
    </a>
  </p>
  
{% endblock %}