{% set appercu = appercu|default(false) %}
{% set accueil = accueil|default(false) %}	
{% if appercu %}
	{% set accueil = appercu|default(false) %}	
{%endif%}

	<div class="row">
		<div class="col-md-10">
			<h2>{{ article.titre }}</h2>
			<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>
			{% if article.categories.count > 0 %}
				- Catégories :
				{% for categorie in article.categories %}
					{{ categorie.nom }}
					{% if not loop.last %} - {% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-2">
			{%if accueil and not appercu %}
				<h1>
					<a href="{{ path('xv_voir',{'id':article.id}) }}" class="btn btn-primary">
					  <span class="glyphicon glyphicon-eye-open"></span>
						Voir plus
					</a>
				</h1>
			{% endif %}
		</div>
	</div>
	
  
	<div class="row">
		<div class="well col-lg-9">
		{{ article.contenu|markdown }}
		</div>
		
		{% if article.image is not null %}
			<div class="col-lg-3 visible-lg" >
				<img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="img-rounded img-responsive" />
			</div>
		{% endif %}
	</div>
	
	{% if not accueil %}
	  <p>
		<a href="{{ path('xv_homepage') }}" class="btn btn-primary">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  Retour à la liste
		</a>
		<a href="{{ path('xv_modifier', {'id': article.id}) }}" class="btn btn-primary">
		  <span class="glyphicon glyphicon-edit"></span>
		  Modifier le résumé
		</a>
			<a href="{{ path('xv_supprimer', {'id': article.id}) }}" class="btn btn-primary">
				<span class="glyphicon glyphicon-remove-sign"></span>  
				Supprimer le résumé
			</a>
	  </p>
	{% endif %}