{% extends "::layout.html.twig" %}

{% block title %}
  Résumé des Matchs - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>XV du Home</h1>

  <hr>

  {% block xv_body %}
  {% endblock %}

{% endblock %}